/* End User CSS styles */
.post-grid .post-grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.post-grid .post-grid-post {
  transition: transform 0.5s ease, filter 0.5s ease;
}

.post-grid .post-grid-post:hover {
  transform: scale(1.02);
  filter: brightness(90%);
}

/* Pagination Buttons */
.post-grid .pagination-btn .bi-chevron-left:hover,
.post-grid .pagination-btn .bi-chevron-right:hover {
  color: #ffffff;
}

.post-grid .pagination-btn {
  color: #ffffff;
  border-radius: 50%;
}

.post-grid .pagination-btn.active {
  background-color: #f3777b;
  color: #ffffff;
  border-radius: 50%;
}

/* Admin CSS styles */
.post-grid-admin .post-grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.post-grid-admin .post-grid-post {
  transition: transform 0.5s ease, filter 0.5s ease;
}

.post-grid-admin .post-grid-post:hover {
  transform: scale(1.02);
  filter: brightness(90%);
}

/* Pagination Buttons */
.post-grid-admin .pagination-btn .bi-chevron-left:hover,
.post-grid-admin .pagination-btn .bi-chevron-right:hover {
  color: #ffffff;
}

.post-grid-admin .pagination-btn {
  color: #ffffff;
  border-radius: 50%;
}

.post-grid-admin .pagination-btn.active {
  background-color: #00798e;
  color: #ffffff;
  border-radius: 50%;
}

/* Super Admin CSS styles */
.post-grid-superadmin .post-grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.post-grid-superadmin .post-grid-post {
  transition: transform 0.5s ease, filter 0.5s ease;
}

.post-grid-superadmin .post-grid-post:hover {
  transform: scale(1.02);
  filter: brightness(90%);
}

/* Pagination Buttons */
.post-grid-superadmin .pagination-btn .bi-chevron-left:hover,
.post-grid-superadmin .pagination-btn .bi-chevron-right:hover {
  color: #ffffff;
}

.post-grid-superadmin .pagination-btn {
  color: #ffffff;
  border-radius: 50%;
}

.post-grid-superadmin .pagination-btn.active {
  background-color: #2200aa;
  color: #ffffff;
  border-radius: 50%;
}

/* All pages CSS */
.post-grid h4,
.post-grid h5,
.post-grid div,
.post-grid-admin h4,
.post-grid-admin div,
.post-grid-superadmin h4,
.post-grid-superadmin div {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}