/* End User Search Bar */
.search-component .search-input {
  border-radius: 50px;
  border: 2px solid #f3777b;
}

.search-component .search-input:focus {
  border-color: #f3777b;
  box-shadow: 0 0 0 0.1rem #f99a9d;
}

/* Remove clear icon */
.search-component .search-input::-webkit-search-cancel-button {
  display: none;
}

.search-component .search-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: #808080;
  pointer-events: none;
}

/* Admin Search Bar */
.search-component-admin .search-input {
  border-radius: 50px;
  border: 2px solid #00798e;
}

.search-component-admin .search-input:focus {
  border-color: #00798e;
  box-shadow: 0 0 0 0.1rem #0cb7d5;
}

/* Remove clear icon */
.search-component-admin .search-input::-webkit-search-cancel-button {
  display: none;
}

.search-component-admin .search-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: #808080;
  pointer-events: none;
}

/* Super Admin Search Bar */
.search-component-superadmin .search-input {
  border-radius: 50px;
  border: 2px solid #2200aa;
}

.search-component-superadmin .search-input:focus {
  border-color: #2200aa;
  box-shadow: 0 0 0 0.1rem #3300ff;
}

/* Remove clear icon */
.search-component-superadmin .search-input::-webkit-search-cancel-button {
  display: none;
}

.search-component-superadmin .search-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: #808080;
  pointer-events: none;
}