/* Preview post css */
.modal-lg .modal-body {
  color: white;
  background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("../../assets/enduser-background-img.jpg");
  background-size: cover;
  background-position: center;
}

.modal-body h2,
.delete-modal-post-title {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}